<div class="row">
	<div class="eight columns">
		
		<h3>Yeahhh ny template lagt ind i templates mappen med post-fix rala</h3>
		
		<p>Dette er den nye artikel_rala.html template der er oprettet af Rasmus i mappen temlates. Så skal vi bare finde ud af at ændre templaten default.html således at den viser noget andet.</p>
		
		
		{{ entries:listing folder="artikler" limit="1" }}
			{{ if no_results }}
				<p class="sorry">
					Der er ikke skrevet nogle artikler endnu.<br>
					Kom snart tilbage.
				</p>
			{{ else }}
				{{ theme:partial src="blog-listing" use_context="true" }}
			{{ endif }}
		{{ /entries:listing }}
		
		{{ entries:pagination folder="artikler" limit="3" }}
			{{ if next_page || previous_page }}
				<div class="pagination clearfix">
					{{ if next_page }}
						<a href="{{ next_page }}" class="older">Ældre indlæg</a>
					{{ endif }}
					{{ if previous_page }}
						<a href="{{ previous_page }}" class="newer">Nyere indlæg</a>
					{{ endif }}
				</div>
			{{ endif }}
		{{ /entries:pagination }}
	</div>

	<div class="four columns sidebar" role="complementary">
		{{ theme:partial src="common-sidebar" }}
	</div>
</div>